.title {
  font-size: 1.8em;
  margin-bottom: 20px;
  font-weight: 700;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.category {
  color: black;
  display: flex;
  font-size: 1.2em;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #efefef;
  cursor: pointer;
  max-width: 600px;
  width: 140px;
  height: 140px;
  padding: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
}

.category:hover {
  background-color: #e3e3eb;
  transform: scale(1.05);
}

.cablesEle {
  display: none;
}